



<form (submit)="register()"  [formGroup]="formRegister" #Formregister class="d-flex justify-content-around greyForm">
   <div class="main">
    <div><input name="fName" formControlName="fName" type="text" placeholder="שם פרטי" /></div>
    <div><input name="lName" formControlName="lName" type="text" placeholder="שם משפחה" /></div>
    <div><input name="ravkav" formControlName="ravkav" type="text" placeholder="מספר רב קו" /></div>
    <div><input name="email" formControlName="email" type="email" placeholder="דואר אלקטרוני"/></div>
<div><input name="pass" formControlName="pass" type="password" placeholder="סיסמא" /></div>
<div><select formControlName="profileId"  name="profileId" style="width: 165px; margin: 10px;">
    <option value="1">כללי</option>
    <option value="2">אזרח ותיק</option>/option>
    <option value="3">סטודנט רגיל</option>
    <option value="4">זכי ביטוח לאומי</option>
    <option value="6">סטודנט מורחב</option>
    <option value="7">נכה</option>
    <option value="8">נוער עד גיל 18</option>
  </select></div>
<div><button style="display: block;margin: 20px;margin-left: 70px;width: 100px;background-color: #96379c;color: white;font-weight: bold; margin-right:70px;" type="submit">אישור</button></div>
</div>
</form>