
<div class="row " >
     <div class="col-3 userName">
        <p>{{userName}}</p>
    </div>
    <div class="col">
<img id='Logo' src="../../../assets/Logo.png" style="width: 300px; height: auto;">
    </div>
   <div class="col-3 navKav">
<a [routerLink]="['home']"> 
    <img id='home' src="../../../assets/Home.png" style="width: 120px;height: auto;">
</a>
    </div>
</div>
<!-- <div ngIf="isShowList"> -->
    <div>
<label> חיפוש משתמש:</label>
<input placeholder="התחל הקלדה"  [(ngModel)]="filter" (change)="filterL()" style="border-bottom: 1px solid; margin-bottom: 0px !important; margin-right: 28px;"/>
<div>
    <select id="selectList" [(ngModel)]="userSelected" (ngModelChange)="selecdedItem()" style="width: 168px; border: none; margin-right: 134px;" > 
        <option *ngFor="let item of userListFilter" value="item">{{item.fName}} {{item.lName}}</option>
    </select>
</div>
</div>


