<!-- <form (submit)="changePassword()" [formGroup]="formForgotPassword" #formForgotPassword>
  <div id="ravkav">
    <p>הכנס מספר רב-קו</p>
    <input formControlName="ravkav" name="ravkav" type="text" placeholder="מספר רב-קו" />
    <button  [disabled]="formForgotPassword.valid" type="submit">שלח סיסמה זמנית</button>
  </div>
  <div id="vertification" class="d-none">
    <!-- <input formControlName="tempPass" name="tempPass" type="text" placeholder="סיסמה זמנית" />
    <input formControlName="newPass" name="newPass" type="text" placeholder="סיסמה חדשה" />
    <input formControlName="verifyNewPass" name="verifyNewPass" type="text" placeholder="אימות סיסמה חדשה" />
    <button [disabled]="formForgotPassword.valid" type="submit">אישור</button> 
  </div>
</form> -->

<form (submit)="changePassword()" [formGroup]="formForgotPassword"class="d-flex justify-content-around greyForm">
 
        <div id="main" class="formTamplate" >

  <div id="ravkav" style="padding-top: 50px;">
    <p>הכנס מספר רב-קו</p>
    <input formControlName="ravkav" name="ravkav" type="text" placeholder="מספר רב-קו" />
    <button onclick="changePassword()" class="btn-wide" type="submit">שלח סיסמה זמנית</button>
  </div>
  </div>




  <!-- <div id="vertification" class="d-none">
    <input formControlName="tempPass" name="tempPass" type="text" placeholder="סיסמה זמנית" />
    <input formControlName="newPass" name="newPass" type="text" placeholder="סיסמה חדשה" />
    <input formControlName="verifyNewPass" name="verifyNewPass" type="text" placeholder="אימות סיסמה חדשה" />
    <button [disabled]="formForgotPassword.valid" type="submit">אישור</button>
  </div> -->
</form>