<!-- <p>login</p>
 <form (submit)="login()">
    <form action="/action_page.php"> -->
    <!-- <input [(ngModel)]="ravkav" name="ravkav" type="text" placeholder="הכנס מספר רב קו" />
    <input [(ngModel)]="password" name="password" type="password" placeholder="הכנס סיסמא" />
    <button  type="submit">אישור</button>
    <p class="message">Not registered? <a routerLink="/Register">Create an account</a></p> 
</form> -->
 <form (submit)="login()" [formGroup]="formLogin" #FormLogin class="d-flex justify-content-around" style="text-align: center;background: linear-gradient(white 10%,#EBFFB7 30%, #e5f9b0 20%, #bfe65e 80%,#99c52a 90%);">
    <!-- <form action="/action_page.php"> -->
        

        <div id="main" style="background-color: #b4d64d;width: 300px;height: 350px;border-radius: 30px;margin-top: 80px;margin-bottom: 80px; padding: 30px;" >

            <input formControlName="ravkav" name="ravkav" type="text" placeholder="מספר רב קו" />
           
             <input formControlName="pass" name="password" type="password" placeholder=" סיסמא" />
            
           
            <button [disabled]="FormLogin.valid" style="display: block;margin: 20px;margin-right: 70px;width: 100px;background-color: #96379c;color: white;font-weight: bold;" type="submit">אישור</button>
  <div> <a routerLink="/ForgotPassword">שכחתי סיסמא</a> | <a routerLink="/Register">משתמש חדש</a></div>
    <!-- <p class="message">Not registered? <a routerLink="/Register">Create an account</a></p>  -->
    
         </div>
</form>
<!-- <register  [t]="x"  (clickList)="login($event)"></register> -->
