<!-- <p>login</p>
 <form (submit)="login()">
    <form action="/action_page.php"> -->
    <!-- <input [(ngModel)]="ravkav" name="ravkav" type="text" placeholder="הכנס מספר רב קו" />
    <input [(ngModel)]="password" name="password" type="password" placeholder="הכנס סיסמא" />
    <button  type="submit">אישור</button>
    <p class="message">Not registered? <a routerLink="/Register">Create an account</a></p> 
</form> -->
<p>login</p>
 <form (submit)="login()" [formGroup]="formLogin" #FormLogin>
    <!-- <form action="/action_page.php"> -->
        <div class="container main" style="text-align: center;">
            <div id=header>
                <span class="header" style="font-size: 60px;">MY-KAV</span>
                <br/>
                <span class="header" style="font-size: 40px;">משתלם בדרך שלי</span>
            </div>
            <div id="main" >

    <input formControlName="ravkav" name="ravkav" type="text" placeholder="מספר רב קו" />
    <br/>
    <input formControlName="pass" name="password" type="password" placeholder=" סיסמא" />
    <br/>
   <div> <a>שכחתי סיסמא</a> | <a>רישום למערכת</a></div>
    <button [disabled]="FormLogin.valid"  type="submit">אישור</button>
  
    <!-- <p class="message">Not registered? <a routerLink="/Register">Create an account</a></p>  -->
    
</div>
</div>
</form>
<!-- <register  [t]="x"  (clickList)="login($event)"></register> -->
