
<form [formGroup]="formUpdateUser" (submit)="UpdateDetails()" >
  <input formControlName="ravkav" name="ravkav"  type="text" placeholder="מספר רב קו" />
  <input formControlName="firstName" name="firstName"  type="text" placeholder="שם פרטי" />
  <input formControlName="lastName" name="lastName"  type="text" placeholder="שם משפחה" />
  <select formControlName="profileId" placeholder="בחר פרופיל"  name="profileId">
      <option value="1">כללי</option>
      <option value="2">אזרח ותיק</option>/option>
      <option value="3">סטודנט רגיל</option>
      <option value="4">זכי ביטוח לאומי</option>
      <option value="6">סטודנט מורחב</option>
      <option value="7">נכה</option>
      <option value="8">נוער עד גיל 18</option>
  </select>
  <button [disabled]="FormLogin.valid" type="submit">אישור</button>
  </form>
  